<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/my-style.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
		</head>
		
		<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/cv/">CV</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        	<li><a href="https://www.linkedin.com/in/andreinafr/"><img src="/images/linked-in.png" style="width:32px; height:32px" title="LinkedIn" alt="LinkedIn"></a></li>
                        <li><a href="https://twitter.com/MariaAndreinaFr"><img src="/images/twitter.png" style="width:32px; height:32px" title="@MariaAndreinaFr" alt="twitter"></a></li>
        		<li><a href="mailto:andreina@comp.nus.edu.sg"><img src="/images/envelope.png" style="width:32px; height:32px" title="email" alt="email"></a></li>
        		<li><a href="https://github.com/andreina-francisco"><img src="/images/github.png" style="width:32px; height:32px" title="GitHub" alt="GitHub"></a></li>
                        <li><a href="https://www.goodreads.com/andreina"><img src="/images/good-reads.png" style="width:32px; height:32px" title="Goodreads" alt="Goodreads"></a></li>
			<li><a href="https://scholar.google.com/citations?user=6TM4YBYAAAAJ"><img src="/images/atom.png" style="width:32px; height:32px" title="Google Scholar" alt="Google Scholar"></a></li>
			<li><a href="https://scholar.google.com/citations?user=6TM4YBYAAAAJ"><font color=black><i class="ai ai-google-scholar ai-3x"></font></a></li>
			<li><a href="https://dblp.org/pers/hd/r/Rodr=iacute=guez:Mar=iacute=a_Andre=iacute=na_Francisco"><font color=black><i class="ai ai-dblp ai-3x"></i></font></a></li>
			</ul>
			</footer>
		</body>
	</html>
